{% extends "base1.html" %}
{% block content %}

    {% comment %} <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
        {% if message %}
            <p class="{{ class }}">{{ message }}</p>
        {% endif %}
    </form> {% endcomment %}

    <div class='container'>
        <div class='row'>
            <div class='col-12'>

                <form method="post">
                    {% csrf_token %}
                    <div class="box">
                        <h1>Login</h1>
                    
                        <label for="Email">Email</label>
                        <input type="email" id="Email" name="email" placeholder="Email">
                    
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    
                        <div class="anc">
                            <a href="{% url 'register' %}">Create Account</a>
                        </div>
                        <input type="submit" value="submit">
                    </div>
                    {% if message %}
                        <p class="{{ class }}">{{ message }}</p>
                    {% endif %}
                </form>
                
            </div>
        </div>
    </div>
{% endblock %}